						  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

		  <!-- Alias --> 
		  <alias alias="perRequest" type="Unity.AspNet.Mvc.PerRequestLifetimeManager,Unity.Mvc" />


		  <!-- Assemblies -->
		  <assembly name="Layers.Base" />
		  <assembly name="Layers.Business" />
		  <assembly name="Layers.Business.Contracts" />
		  <assembly name="Layers.Data.Contracts" />
		  <assembly name="Layers.Data.DataAccess" />

		  <containers>

		  <!-- Unity Config -->
		<container name="unityConfig">
		


       <!--================================= DATA ACCESS ==================================-->

       <register type="Layers.Data.Contracts.Contracts.IReadUnitOfWork, Layers.Data.Contracts" mapTo="Layers.Data.DataAccess.Repository.ReadUnitOfWork, Layers.Data.DataAccess">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Data.Contracts.Contracts.IWriteUnitOfWork, Layers.Data.Contracts" mapTo="Layers.Data.DataAccess.Repository.WriteUnitOfWork, Layers.Data.DataAccess">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Data.Contracts.Contracts.IReadRepository`2, Layers.Data.Contracts" mapTo="Layers.Data.DataAccess.Repository.ReadRepository`2, Layers.Data.DataAccess">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Data.Contracts.Contracts.IWriteRepository`2, Layers.Data.Contracts" mapTo="Layers.Data.DataAccess.Repository.WriteRepository`2, Layers.Data.DataAccess">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Data.Contracts.Contracts.IUnitOfWork, Layers.Data.Contracts" mapTo="Layers.Data.DataAccess.Repository.UnitOfWork, Layers.Data.DataAccess">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Data.Contracts.Contracts.IDynamicRepository, Layers.Data.Contracts" mapTo="Layers.Data.DataAccess.Repository.DynamicRepository, Layers.Data.DataAccess">
        <lifetime type="perRequest" />
       </register>
       <!--________________________________________________________________________________-->




       <!--=================================== BUSINESS ===================================-->

       <register type="Layers.Business.Contracts.Base.IUserManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.UserManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.IChannelManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.ChannelManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.IContentManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.ContentManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.IContentGoalManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.ContentGoalManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.IContentRequirementsManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.ContentRequirementsManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.IContentTargetViewersManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.ContentTargetViewersManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.ISectionManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.SectionManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.ILessonManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.LessonManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>

       <register type="Layers.Business.Contracts.Base.IPurchasedContentsManager, Layers.Business.Contracts" mapTo="Layers.Business.Managers.PurchasedContentsManager, Layers.Business">
        <lifetime type="perRequest" />
       </register>
       <!--________________________________________________________________________________-->

	 </container>
	 </containers>
	 </unity>


	 