################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Layers/SourceCode/Layers.Data.DataAccess/obj/Debug
